body, html {
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.4;
	color: #222222;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}
body {
	margin: 5%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	line-height: 1.1;
	color: #333333;
}
.error {
	color: #a94442;
}
hr {
	border: 0;
	border-top: 0.2em solid #dddddd;
}

ul, ol {
	padding-left: 1.25em;
	padding-right: 1.25em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
li {
	padding-left: 0.1em;
	padding-right: 0.1em;
	list-style-type: disc;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
li::marker {
	color: #999999;
}

a {
	color: #337ab7;
	text-decoration: none;
}
a:visited {
	color: #432cb7;
}
a:hover {
	text-decoration: underline;
}

.wrap {
	background-color: #f9f9f9;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
